body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-weight-semibold {
  font-weight: 600;
}

.user-info {

}
.user-info .user-info-profile {
  color: black;
}
.user-info .user-info-profile:hover {
  text-decoration: none;
}
.user-info .user-info-profile span {
  background: #f4d26b;
  border-radius: 14px;
}
.user-info .user-info-profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}